@import "antd/dist/reset.css";  /* Use reset.css to prevent style conflicts */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  overflow-y: scroll;
  height: auto;
}
